{% extends "django_data_sync/material/sync_app_model.html" %}


{% load django_utils_filters %}


{% block page_title %}
  <i class="fa fa-database"></i> App Models
{% endblock page_title %}


{% block content %}

  <table class="table table-striped table-objects-list table-hover" id="sync_app_models_list">
    <thead>
    <tr>
      <th>App Model</th>
      <th>Last sync date</th>
      <th>Last sync status</th>
    </tr>
    </thead>
    <tbody>
    {% for sync_app_model in object_list %}
      <tr>
        <td>
          <a href="{% url 'django_data_sync:sync_app_model_detail' sync_app_model.id %}">
            {{ sync_app_model.app_model }}
          </a>
        </td>
        <td>{{ sync_app_model.last_sync_date }}</td>
        <td>{{ sync_app_model.last_sync_status }}</td>
        <td>
          {% for requirement in sync_app_model.requirements %}
            {{ requirement.app_model }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>
          <!--PERMESSIHERE-->
          {% if perms.django_data_sync.changesyncappmodel %}
            <a href="{% url 'django_data_sync:sync_app_model_edit' sync_app_model.id %}"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if perms.django_data_sync.deletesyncappmodel %}
            <a href="{% url 'django_data_sync:sync_app_model_delete' sync_app_model.id %}"><i class="fa fa-times"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock content %}
