coverage
django>=1.7
django-braces
httmock>=1.2.5
iso8601
python-dateutil>=2.4
unicodecsv

https://github.com/yigor/django-jsonfield/archive/master.zip

django-extensions
https://bitbucket.org/zamboni/django-helper-forms/get/tip.zip
